[user]
	name = Marcel Kliemannel
	email = dev@marcelkliemannel.com
	signingkey = A70AC7DD6AD6B71D
[core]
	autocrlf = input
	excludesFile = ~/.gitignore
[alias]
	ll = log --graph --pretty=format:\"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset\" --abbrev-commit
[commit]
	gpgsign = true
[gpg]
	program = gpg
